@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900|Roboto:400,700,900&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  font-size: inherit;
}

.header {
  height: 490px;
  position: relative;
  background-image: url("../../assets/header-background.png");
  background-size: 250%;
  background-position: center;
  background-position-x: 50%;
  font-size: 10px;
}

@media (max-width: 479px) {
  .header {
    font-size: 8px;
    background-size: cover;
  }
}

.header__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.header__name {
  padding: 60px 0 10px 0;
  color: #ccc;
  font-size: 2.5em;
}

.header__title {
  color: white;
  font-size: 4em;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto 0 auto;
  font-size: 1.6em;
}

@media (max-width: 479px) {
  .header__btns {
    width: 250px;
  }
}

.header__btn {
  background: yellow;
  border: none;
  padding: 20px;
  margin: 10px 0;
}

.header__btn--call {
  background: rgba(0, 0, 0, 0.5);
  color: yellow;
}

.header__show-more {
  color: white;
  font-weight: 700;
  margin-top: 20px;
}

.header__show-btn {
  background: none;
  border: none;
  margin-top: 20px;
}

.header__show-btn img {
  width: 70%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header__arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__arrow {
  border: 1px solid white;
  cursor: pointer;
  padding: 10px 10px;
}

.header__arrow-img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.header__arrow-img--right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 90px;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  position: absolute;
  left: 8%;
}

.nav__burger {
  left: 85%;
}

.burger {
  width: 30px;
  height: 23px;
  position: relative;
}

.burger__line {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #000;
}

.burger__line1 {
  top: 30%;
}

.burger__line2 {
  top: 49%;
}

.burger__line3 {
  bottom: 25%;
}

.actions {
  font-size: 10px;
}

.actions__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.actions__item {
  height: 250px;
  width: 100%;
  background-size: cover;
  position: relative;
}

.actions__item--1 {
  background-image: url("../../assets/action-paint.png");
}

.actions__item--2 {
  background-image: url("../../assets/action-wallpaper.png");
}

.actions__item--3 {
  background-image: url("../../assets/action-tiles.png");
}

.actions__item--4 {
  background-image: url("../../assets/action-floor.png");
}

.actions__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-sarif;
  color: yellow;
  border: 2px solid yellow;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 2.6em;
}

.team {
  padding: 20px 0;
  background-color: #1f1f1f;
}

.team__item {
  width: 90%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 260px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #9d9d9d;
  color: #595959;
  font-family: 'Raleway', sans-serif;
}

.team__photo {
  padding: 30px 0;
}

.team__name {
  text-transform: uppercase;
  font-weight: bold;
}

.team__description {
  color: #9d9d9d;
  width: 90%;
  padding-top: 5px;
  line-height: 30px;
}

.main {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

.realizations__text-box {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.realizations__title {
  font-size: 3.3em;
  font-weight: 900;
  padding: 20px 0;
}

.realizations__description {
  font-size: 1.3em;
  line-height: 25px;
  color: #595959;
}

.realizations__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 93%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.realizations__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.realizations__arrow {
  padding: 20px 0;
}

.realizations__arrow--right img {
  display: block;
  margin-left: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.realizations__btn {
  background: none;
  border: none;
  color: #f6da14;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.6em;
}
/*# sourceMappingURL=main.css.map */