@mixin fontTitles {
  font-family: 'LeagueSpartan', sans-serif;
  font-weight: 900;
  text-align: center;
}


@mixin fontText {
  font-family: 'Roboto', sans-serif;


}

$box-width:90%;
$font-size:10px;