@import 'reset';
@import 'fonts';
@import 'variables';
@import 'components/header';
@import 'components/nav';
@import 'components/actions';
@import 'components/team';
@import 'components/main';
@import 'components/footer';