@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900|Roboto:400,500,700,900&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  font-size: inherit;
}

body {
  background-color: #1f1f1f;
}

@font-face {
  font-family: 'LeagueSpartan';
  src: url("../../fonts/LeagueSpartan-Bold.otf");
}

.header {
  height: 490px;
  position: relative;
  background-image: url("../../assets/header-background.png");
  background-size: cover;
  background-position: center;
  background-position-x: 50%;
  text-align: center;
}

@media (min-width: 769px) {
  .header {
    height: 680px;
  }
}

@media (min-width: 1025px) {
  .header {
    height: 800px;
    background-size: cover;
  }
}

.header__text {
  font-family: "LeagueSpartan", sans-serif;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .header__text {
    max-width: 1130px;
    text-align: left;
    margin: 0 auto;
  }
}

.header__name {
  padding: 70px 0 10px 0;
  color: #ccc;
  font-size: 20px;
  font-weight: normal;
}

@media (min-width: 481px) {
  .header__name {
    padding: 80px 0 30px 0;
  }
}

@media (min-width: 769px) {
  .header__name {
    padding: 160px 0 30px 0;
  }
}

@media (min-width: 1025px) {
  .header__name {
    font-size: 23px;
    padding: 230px 0 30px 0;
  }
}

.header__title {
  color: white;
  font-size: 30px;
  font-weight: normal;
}

@media (min-width: 481px) {
  .header__title {
    font-size: 35px;
  }
}

@media (min-width: 600px) {
  .header__title {
    font-size: 45px;
  }
}

@media (min-width: 769px) {
  .header__title {
    font-size: 50px;
    line-height: 75px;
  }
}

@media (min-width: 1025px) {
  .header__title {
    font-size: 52px;
    line-height: 80px;
  }
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 481px) {
  .header__btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 50px auto 0 auto;
  }
}

@media (min-width: 769px) {
  .header__btns {
    margin: 40px auto 0 auto;
  }
}

@media (min-width: 1440px) {
  .header__btns {
    max-width: 1130px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.header__btn {
  width: 300px;
  background: yellow;
  border: none;
  padding: 20px;
  margin: 10px 0;
}

@media (min-width: 481px) {
  .header__btn {
    width: auto;
    margin-right: 10px;
  }
}

@media (min-width: 769px) {
  .header__btn {
    padding: 20px 30px;
  }
}

@media (min-width: 1025px) {
  .header__btn {
    padding: 20px 40px;
  }
}

.header__btn a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "LeagueSpartan", sans-serif;
  color: black;
  font-size: 13px;
}

.header__btn--call {
  background: rgba(0, 0, 0, 0.5);
}

.header__btn--call a {
  color: yellow;
}

.header__show-more {
  color: white;
  margin-top: 30px;
  font-size: 12px;
}

@media (min-width: 769px) {
  .header__show-more {
    margin-top: 80px;
    font-size: 14px;
  }
}

@media (min-width: 1025px) {
  .header__show-more {
    text-align: center;
    font-size: 16px;
  }
}

.header__show-btn {
  background: none;
  border: none;
  margin-top: 20px;
}

.header__show-btn img {
  width: 70%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header__arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 481px) {
  .header__arrows {
    bottom: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

@media (min-width: 769px) {
  .header__arrows {
    width: 93%;
  }
}

@media (min-width: 1025px) {
  .header__arrows {
    max-width: 1720px;
  }
}

.header__arrow {
  border: 2px solid white;
  cursor: pointer;
  padding: 10px;
}

@media (min-width: 769px) {
  .header__arrow {
    padding: 20px 25px;
  }
}

.header__arrow-img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .header__arrow-img {
    width: 100%;
  }
}

.header__arrow-img--right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page {
  position: relative;
  left: 0;
  overflow-x: hidden;
}

@media (min-width: 769px) {
  .page {
    left: 0;
  }
}

.page--active {
  left: -60%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 90px;
  width: 90%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

@media (min-width: 769px) {
  .nav {
    width: 93%;
  }
}

@media (min-width: 1025px) {
  .nav {
    max-width: 1130px;
  }
}

@media (min-width: 769px) {
  .nav__burger {
    display: none;
  }
}

.nav__burger-menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 60%;
  height: 100vh;
  z-index: 2;
  background-color: #333;
}

@media (min-width: 769px) {
  .nav__burger-menu {
    position: static;
    overflow: unset;
    -webkit-transform: translate(0);
            transform: translate(0);
    height: auto;
    z-index: 0;
    background-color: #fff;
  }
}

.nav__burger-menu--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  text-align: left;
  list-style: none;
}

@media (min-width: 769px) {
  .nav__item-list {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__item {
  padding: 30px 0 30px 40px;
  border-bottom: 1px solid #444;
}

@media (min-width: 769px) {
  .nav__item {
    border: none;
    padding: 0;
  }
}

.nav__item--back {
  font-family: "LeagueSpartan", sans-serif;
}

.nav__item--back a {
  display: block;
  font-family: "LeagueSpartan", sans-serif;
  font-size: 13px;
  color: #797979;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 769px) {
  .nav__item--back {
    display: none;
  }
}

.nav__item--back img {
  width: 10px;
  margin-right: 30px;
  opacity: 0.5;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-family: "LeagueSpartan", sans-serif;
}

@media (min-width: 769px) {
  .nav__link {
    font-size: 12px;
    color: #4c4c4c;
    font-weight: 900;
    padding-bottom: 31px;
    border-bottom: 4px solid white;
  }
  .nav__link:hover {
    border-color: #f8db15;
  }
}

@media (min-width: 1025px) {
  .nav__link {
    font-size: 14px;
  }
}

.nav__link:hover {
  color: #f8db15;
}

.nav::after {
  content: '';
  display: block;
  width: 4000px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.burger {
  width: 30px;
  height: 30px;
  position: relative;
}

.burger__line {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
}

.burger__line1 {
  top: 30%;
}

.burger__line2 {
  top: 49%;
}

.burger__line3 {
  bottom: 25%;
}

.actions__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.actions__item {
  height: 250px;
  width: 100%;
  background-size: cover;
  position: relative;
}

@media (min-width: 481px) {
  .actions__item {
    width: 50%;
  }
}

@media (min-width: 769px) {
  .actions__item {
    height: 300px;
  }
}

@media (min-width: 1025px) {
  .actions__item {
    width: 25%;
  }
}

.actions__item--1 {
  background-image: url("../../assets/action-paint.png");
}

.actions__item--2 {
  background-image: url("../../assets/action-wallpaper.png");
}

.actions__item--3 {
  background-image: url("../../assets/action-tiles.png");
}

.actions__item--4 {
  background-image: url("../../assets/action-floor.png");
}

.actions__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "LeagueSpartan", sans-serif;
  border: 2px solid #f7dc13;
  padding: 20px 25px;
  font-weight: normal;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  cursor: pointer;
}

.actions__text a {
  color: #f7dc13;
  text-decoration: none;
}

.team {
  padding: 20px 0;
  background-color: #1f1f1f;
  font-size: 10px;
}

@media (min-width: 769px) {
  .team {
    width: 93%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  .team {
    max-width: 1400px;
  }
}

.team__item {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 260px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #333;
  color: #595959;
}

@media (min-width: 769px) {
  .team__item {
    width: 32.5%;
    margin: 0;
  }
}

@media (min-width: 1025px) {
  .team__item {
    max-width: 1130px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 4fr;
        grid-template-columns: 2fr 4fr;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
    min-height: 220px;
    margin: 70px 0;
  }
}

.team__photo {
  padding: 30px 0;
}

@media (min-width: 1025px) {
  .team__photo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.team__name {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "LeagueSpartan", sans-serif;
}

@media (min-width: 1025px) {
  .team__name {
    -ms-grid-column: 2;
    grid-column: 2/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.team__description {
  color: #c6c6c6;
  width: 90%;
  font-family: "Roboto", sans-serif;
  padding-top: 5px;
  line-height: 30px;
  font-size: 17px;
}

@media (min-width: 768px) {
  .team__description {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .team__description {
    -ms-grid-column: 2;
    grid-column: 2/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

main {
  background-color: #fff;
  position: relative;
}

@media (min-width: 1025px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main::after {
  content: '';
  display: block;
  position: absolute;
  width: 3000px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-30%);
          transform: translate(-30%);
  z-index: -1;
}

@media (min-width: 1025px) {
  .realizations {
    width: 30%;
  }
}

.realizations__text-box {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 481px) {
  .realizations__text-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 769px) {
  .realizations__text-box {
    width: 93%;
  }
}

@media (min-width: 1025px) {
  .realizations__text-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.realizations__title {
  font-size: 28px;
  font-weight: 900;
  padding: 40px 0 30px 0;
  font-family: "LeagueSpartan", sans-serif;
  text-align: left;
}

@media (min-width: 1025px) {
  .realizations__title {
    font-size: 30px;
  }
}

.realizations__description {
  font-size: 14px;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
  color: #595959;
}

@media (min-width: 481px) {
  .realizations__description {
    width: 60%;
    line-height: 20px;
    margin-top: 30px;
  }
}

@media (min-width: 1025px) {
  .realizations__description {
    width: 90%;
    font-size: 17px;
    margin-top: 0;
    line-height: 30px;
  }
}

.realizations__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 10px auto 20px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 769px) {
  .realizations__nav {
    width: 93%;
  }
}

@media (min-width: 1024px) {
  .realizations__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.realizations__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.realizations__arrow {
  padding: 20px 0;
}

.realizations__arrow--right img {
  display: block;
  margin-left: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.realizations__btn {
  background: none;
  border: none;
  color: #f6da14;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "LeagueSpartan", sans-serif;
}

.realizations--side-page {
  border-bottom: 1px solid #ddd;
  width: 90%;
  margin: 0 auto 30px auto;
}

@media screen and (min-width: 1025px) {
  .realizations--side-page {
    max-width: 1130px;
    margin: 0 0 30px 15px;
  }
}

.realizations--side-page .realizations__text-box {
  margin: 0;
}

@media (min-width: 1025px) {
  .main--side-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 769px) {
  .projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 96.5%;
    margin: 0 auto;
  }
}

@media (min-width: 1025px) {
  .projects {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 40px auto;
  }
}

.project {
  width: 90%;
  margin: 0 auto 10px auto;
  border-right: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.project:nth-last-child(1) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .project:nth-last-child(1) {
    margin-bottom: 40px;
    -ms-grid-column-align: self-start;
        justify-self: self-start;
  }
}

@media (min-width: 481px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-left: none;
    border-bottom: 1px solid #e9e9e9;
  }
}

@media (min-width: 769px) {
  .project {
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    max-width: 31%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
    margin-bottom: 40px;
  }
}

@media (min-width: 481px) {
  .project__photo {
    width: 70%;
    max-height: 245px;
    overflow: hidden;
  }
}

@media (min-width: 769px) {
  .project__photo {
    width: 100%;
    height: 200px;
  }
}

.project__img {
  height: 100%;
  width: 100%;
}

.project__box {
  padding: 30px;
}

@media (min-width: 481px) {
  .project__box {
    width: 45%;
  }
}

@media (min-width: 769px) {
  .project__box {
    width: 100%;
    padding-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 210px;
  }
}

@media (min-width: 1025px) {
  .project__box {
    min-height: 260px;
  }
}

.project__title {
  font-size: 16px;
  font-family: "LeagueSpartan", sans-serif;
}

@media (min-width: 769px) {
  .project__title {
    font-size: 17px;
  }
}

@media (min-width: 1025px) {
  .project__title {
    font-size: 19px;
  }
}

.project__description {
  font-family: "Roboto", sans-serif;
  color: #969696;
  font-size: 14px;
  padding-top: 25px;
  line-height: 25px;
}

@media (min-width: 769px) {
  .project__description {
    padding: 0;
  }
}

@media (min-width: 1025px) {
  .project__description {
    font-size: 16px;
  }
}

.project--additional {
  display: none;
}

@media (min-width: 769px) {
  .project--additional {
    display: block;
  }
}

@media (min-width: 769px) {
  .projects--side-page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 96.5%;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects--side-page .project {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    max-width: 30.6%;
  }
}

@media (min-width: 1025px) {
  .projects--side-page .project {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    max-width: 23%;
  }
}

.project--additional--1024px {
  display: none;
}

@media (min-width: 1025px) {
  .project--additional--1024px {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.project--additional--more {
  display: none;
}

.info {
  color: white;
  background: black;
  position: relative;
}

@media (min-width: 769px) {
  .info {
    width: 100%;
  }
}

.info__logo {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  border-bottom: 1px solid #222;
}

.info__logo-img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.info__personal {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}

.info__name {
  font-size: 18px;
  color: #a8a8a8;
}

.info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #222;
}

@media (min-width: 660px) {
  .info__box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.info__data {
  width: 50%;
  font-size: 16px;
  padding-bottom: 40px;
  color: #595959;
}

@media (min-width: 660px) {
  .info__data {
    width: auto;
  }
}

.info__data:nth-child(2) {
  padding-left: 15px;
}

.info__data:nth-child(3) {
  padding-bottom: 30px;
}

.info__data span {
  color: #f8db13;
}

.info__background {
  position: absolute;
  left: -45%;
  bottom: 0;
}

.info__background img {
  width: 100%;
}

.info::after {
  content: '';
  display: block;
  position: absolute;
  width: 3000px;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-30%);
          transform: translate(-30%);
  z-index: -1;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;
}

@media (min-width: 660px) {
  .media {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 769px) {
  .media {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.media__follow {
  width: 50%;
  font-family: "LeagueSpartan", sans-serif;
  text-align: left;
  color: #595959;
  font-weight: bold;
  font-size: 13px;
}

@media (min-width: 769px) {
  .media__follow {
    width: 19vw;
  }
}

@media (min-width: 1025px) {
  .media__follow {
    max-width: 11vw;
  }
}

.media__box {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  z-index: 120;
  cursor: pointer;
}

@media (min-width: 660px) {
  .media__box {
    width: 158px;
    padding: 0;
    margin-right: 30px;
  }
}

.box {
  width: 100%;
}

@media (min-width: 1025px) {
  .box {
    width: 50vw;
    max-width: 590px;
  }
}

@media (min-width: 769px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1025px) {
  .footer__box {
    float: right;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.footer__nav {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

@media (min-width: 769px) {
  .footer__nav {
    padding: 40px 0;
  }
}

.footer__item-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  text-align: center;
  z-index: 12;
}

.footer__link {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  font-size: 11px;
  font-family: "LeagueSpartan", sans-serif;
}

@media (min-width: 481px) {
  .footer__link {
    font-size: 13px;
  }
}

.footer__link:hover {
  color: yellow;
}

.map {
  background: url("../../assets/map.png");
  background-position: 15% 37%;
  background-size: 190%;
  height: 250px;
  position: relative;
}

@media (min-width: 481px) {
  .map {
    background-size: 130%;
    background-position: -20% 37%;
  }
}

@media (min-width: 769px) {
  .map {
    width: 50%;
    background-size: 200%;
    background-position: 30% 37%;
    height: auto;
  }
}

@media (min-width: 1025px) {
  .map {
    width: 50vw;
    background-size: 100%;
    background-position: 30% 37%;
  }
}

.map__up {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (min-width: 769px) {
  .map__up {
    top: 85%;
    left: 85%;
  }
}

.map__up-text {
  position: absolute;
  top: 70%;
  left: 50%;
  font-family: "LeagueSpartan", sans-serif;
  font-size: 15px;
  color: #f7db15;
  width: 80px;
  -webkit-transform: translate(-45%, 50%);
          transform: translate(-45%, 50%);
}

@media (min-width: 769px) {
  .map__up-text {
    top: 83.5%;
    left: 85%;
    -webkit-transform: translateX(-170%);
            transform: translateX(-170%);
  }
}

@media (min-width: 1025px) {
  .map__up-text {
    top: 83.5%;
    left: 85%;
    -webkit-transform: translateX(-170%);
            transform: translateX(-170%);
  }
}

.call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f8db15;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 660px) {
  .call {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 5%;
  }
}

@media (min-width: 769px) {
  .call {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px 3.5%;
  }
}

@media (min-width: 1025px) {
  .call {
    margin: 0 auto;
    max-width: 1310px;
  }
}

.call::after {
  content: '';
  display: block;
  position: absolute;
  width: 3000px;
  background-color: #f8db15;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-30%);
          transform: translate(-30%);
  z-index: -1;
}

.call__box {
  padding: 20px;
}

@media (min-width: 660px) {
  .call__box {
    padding: 20px 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 769px) {
  .call__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
  }
}

.call__description {
  text-align: center;
  font-size: 16px;
  color: #9c8b17;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 660px) {
  .call__description {
    text-align: left;
  }
}

@media (min-width: 769px) {
  .call__description {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
  }
}

@media (min-width: 1025px) {
  .call__description {
    font-size: 22px;
  }
}

.call__phonebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "LeagueSpartan", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 20px 0;
  font-size: 18px;
}

@media (min-width: 660px) {
  .call__phonebox {
    width: 60%;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

@media (min-width: 769px) {
  .call__phonebox {
    width: 24%;
    padding: 0;
  }
}

@media (min-width: 1025px) {
  .call__phonebox {
    width: 30%;
  }
}

@media (min-width: 1025px) {
  .call__number {
    font-size: 34px;
  }
}

.side-page-container {
  background-color: #fff;
}

.side-page-container__content {
  width: 90vw;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .side-page-container__content {
    width: 93vw;
  }
}

@media screen and (min-width: 1025px) {
  .side-page-container__content {
    max-width: 1130px;
  }
}

.header-side__container {
  background-image: url("../../assets/sidepage-header-background.png");
  background-color: #f8db14;
  background-size: 400%;
  background-position: 37% 47%;
}

@media screen and (min-width: 769px) {
  .header-side__container {
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1025px) {
  .header-side__container {
    background-size: cover;
    background-position: center;
  }
}

.header-side {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5vw;
  font-family: "LeagueSpartan", sans-serif;
  font-size: 15px;
  color: #736718;
  background-image: url("../../assets/sidepage-header-background.png");
  background-color: #f8db14;
  background-size: 400%;
  background-position: 37% 47%;
}

@media screen and (min-width: 1025px) {
  .header-side {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0;
  }
}

.article {
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 769px) {
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .article__container {
    width: 57%;
  }
}

.article__title {
  font-size: 20px;
  line-height: 30px;
  padding: 30px 0 0 0;
}

@media screen and (min-width: 769px) {
  .article__title {
    padding: 50px 0 0 0;
  }
}

.article__paragraph {
  color: #4e4e4e;
  line-height: 27px;
  padding: 35px 0;
}

.article__image {
  width: 100%;
}

@media screen and (min-width: 481px) {
  .article__image {
    max-width: 660px;
    display: block;
    margin: 0 auto;
  }
}

.text-box {
  background-color: #f0f0f0;
  padding: 35px 28px;
  margin-top: 25px;
}

.text-box__title {
  font-family: "LeagueSpartan", sans-serif;
  text-transform: uppercase;
}

.text-box__intro {
  font-family: "Roboto", sans-serif;
  padding: 28px 0;
  font-size: 17px;
  color: #7f7f7f;
  font-weight: 500;
  line-height: 30px;
}

.text-box__paragraph {
  font-size: 15px;
  color: #7f7f7f;
  line-height: 25px;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 36px;
  background-color: #000;
}

.input__title {
  color: white;
  font-family: "LeagueSpartan", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 30px;
}

.input__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 481px) {
  .input__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .input__box input {
    width: 49%;
  }
}

@media screen and (min-width: 769px) {
  .input__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input__box input {
    width: 100%;
  }
}

.input input,
.input textarea {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 15px 25px;
  margin-bottom: 10px;
}

.input__button {
  background-color: #f8db14;
  border: none;
  font-family: "LeagueSpartan", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px 0;
}

@media screen and (min-width: 769px) {
  .right-side {
    padding: 50px 0 0 0;
    width: 40%;
  }
}

.other-services {
  background-image: url("../../assets/side-page-other-serive-bg.png");
  background-size: cover;
  text-align: center;
  font-family: "LeagueSpartan", sans-serif;
  text-transform: uppercase;
  padding: 50px 0;
}

.other-services__title {
  padding-bottom: 30px;
  color: #6c6c6c;
}

.other-services__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .other-services__btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
  }
  .other-services__btns__btn {
    margin: 0 10px;
  }
}

.other-services__btn {
  width: 295px;
  border: 2px solid black;
  background: transparent;
  font-family: "LeagueSpartan", sans-serif;
  font-size: 18px;
  padding: 18px 0;
  margin: 7px 0;
}

.show-more__container {
  background-color: #fff;
  text-align: center;
  padding: 25px 0;
}

.show-more {
  font-family: "LeagueSpartan", sans-serif;
  text-transform: uppercase;
  background-color: #f8db14;
  color: white;
  padding: 25px 0;
  width: 90%;
  border: none;
}

@media screen and (min-width: 1025px) {
  .show-more {
    max-width: 1130px;
  }
}
/*# sourceMappingURL=main.css.map */