.article {
  font-family: $fontText;

  @media screen and (min-width:769px) {
    display: flex;
    justify-content: space-between;
  }

  &__container {
    @media screen and (min-width:769px) {
      width: 57%;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 30px;
    padding: 30px 0 0 0;

    @media screen and (min-width:769px) {
      padding: 50px 0 0 0;
    }
  }

  &__paragraph {
    color: $p-color;
    line-height: 27px;
    padding: 35px 0;
  }

  &__image {
    width: 100%;

    @media screen and (min-width:481px) {
      max-width: 660px;
      display: block;
      margin: 0 auto;
    }
  }
}

.text-box {
  background-color: #f0f0f0;
  padding: 35px 28px;
  margin-top: 25px;

  &__title {
    font-family: $fontTitles;
    text-transform: uppercase;
  }

  &__intro {
    font-family: $fontText;
    padding: 28px 0;
    font-size: 17px;
    color: $p-color;
    font-weight: 500;
    line-height: 30px;

  }

  &__paragraph {
    font-size: 15px;
    color: $p-color;
    line-height: 25px;
  }
}