.other-services {
  background-image: url('../../assets/side-page-other-serive-bg.png');
  background-size: cover;

  text-align: center;
  font-family: $fontTitles;
  text-transform: uppercase;
  padding: 50px 0;

  &__title {
    padding-bottom: 30px;
    color: #6c6c6c;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width:769px) {
      flex-direction: row;
      justify-content: space-around;
      max-width: 1000px;
      margin: 0 auto;

      &__btn {
        margin: 0 10px;
      }
    }

  }

  &__btn {
    width: 295px;
    border: 2px solid black;
    background: transparent;
    font-family: $fontTitles;
    font-size: 18px;
    padding: 18px 0;
    margin: 7px 0;
  }
}

.show-more__container {
  background-color: #fff;
  text-align: center;
  padding: 25px 0;
}

.show-more {
  font-family: $fontTitles;
  text-transform: uppercase;
  background-color: #f8db14;
  color: white;
  padding: 25px 0;
  width: 90%;
  border: none;

  @media screen and (min-width:1025px) {

    max-width: 1130px;
  }
}