.input-container {}

.input {
  display: flex;
  flex-direction: column;
  padding: 36px;
  background-color: #000;

  &__title {
    color: white;
    font-family: $fontTitles;
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 30px;
  }

  &__box {
    display: flex;
    flex-direction: column;

    @media screen and (min-width:481px) {
      flex-direction: row;
      justify-content: space-between;

      input {

        width: 49%;
      }

    }


  }

  input,
  textarea {
    font-family: $fontText;
    font-size: 14px;
    padding: 15px 25px;
    margin-bottom: 10px;
  }

  &__button {
    background-color: #f8db14;
    border: none;
    font-family: $fontTitles;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 0;
  }
}