.actions {
  &__box {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    height: 250px;
    width: 100%;
    background-size: cover;
    position: relative;

    @media(min-width: 481px) {
      width: 50%;
    }

    @media(min-width: 769px) {
      height: 300px;

    }

    @media(min-width: 1025px) {
      width: 25%;

    }

    &--1 {
      background-image: url('../../assets/action-paint.png');
    }

    &--2 {
      background-image: url('../../assets/action-wallpaper.png');
    }

    &--3 {
      background-image: url('../../assets/action-tiles.png');
    }

    &--4 {
      background-image: url('../../assets/action-floor.png');
    }

  }

  &__text {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $fontTitles;

    border: 2px solid #f7dc13;
    padding: 20px 25px;
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
    cursor: pointer;

    a {
      color: #f7dc13;
      text-decoration: none;
    }
  }
}