.info {
  color: white;
  background: black;
  position: relative;


  @media(min-width: 769px) {
    width: 100%;
  }

  &__logo {
    width: $box-width;
    margin: 0 auto;
    padding: 40px 0;
    border-bottom: 1px solid #222;

    &-img {
      filter: invert(1);
    }
  }

  &__personal {
    width: $box-width;
    margin: 0 auto;
    padding: 20px 0;
    font-family: $fontText
  }

  &__name {
    font-size: 18px;
    color: #a8a8a8;
  }

  &__mail {
    color: $main-color;
    text-decoration: none;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #222;

    @media(min-width: 660px) {
      justify-content: space-between;
    }
  }

  &__data {
    width: 50%;
    font-size: 16px;
    padding-bottom: 40px;
    color: $p-color;


    @media(min-width: 660px) {
      width: auto;
    }

    &:nth-child(2) {
      padding-left: 15px;

    }

    &:nth-child(3) {
      padding-bottom: 30px;

    }

  }

  &__background {
    position: absolute;
    left: -45%;

    bottom: 0;

    img {
      width: 100%;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 3000px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translate(-30%);
    z-index: -1;
  }
}

.media {
  display: flex;
  width: $box-width;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;


  @media(min-width: 660px) {
    justify-content: space-between;

  }

  @media(min-width: 769px) {
    justify-content: flex-start;

  }

  &__follow {
    width: 50%;
    font-family: $fontTitles;
    text-align: left;
    color: $p-color;
    font-weight: bold;
    font-size: 13px;

    @media(min-width: 769px) {
      width: 19vw;

    }

    @media(min-width: 1025px) {

      max-width: 11vw;

    }
  }

  &__box {
    width: 180px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    z-index: 120;
    cursor: pointer;

    @media(min-width: 660px) {
      width: 158px;
      padding: 0;
      margin-right: 30px;
    }

  }
}

.box {
  width: 100%;

  @media(min-width: 1025px) {
    width: 50vw;
    max-width: 590px;
  }
}

.footer {

  &__box {
    @media(min-width: 769px) {
      display: flex;
    }

    @media(min-width: 1025px) {
      float: right;
      align-items: stretch;
    }


  }

  &__nav {
    width: $box-width;
    margin: 0 auto;
    padding: 30px 0;

    @media(min-width: 769px) {
      padding: 40px 0;
    }
  }

  &__item-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {

    text-align: center;
    z-index: 12;
  }

  &__link {

    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    font-size: 11px;
    font-family: $fontTitles;


    @media(min-width: 481px) {
      font-size: 13px;
    }

    &:hover {
      color: $main-color;
    }

  }

}


.map {
  background: url('../../assets/map.png');
  background-position: 15% 37%;
  background-size: 190%;
  height: 250px;
  position: relative;

  @media(min-width: 481px) {
    background-size: 130%;
    background-position: -20% 37%;
  }

  @media(min-width: 769px) {
    width: 50%;
    background-size: 200%;
    background-position: 30% 37%;
    height: auto;
  }

  @media(min-width: 1025px) {
    width: 50vw;
    background-size: 100%;
    background-position: 30% 37%;

  }


  &__up {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    @media(min-width: 769px) {
      top: 85%;
      left: 85%;

    }
  }

  &__up-text {
    position: absolute;
    top: 70%;
    left: 50%;
    font-family: $fontTitles;
    font-size: 15px;
    color: $main-color;
    width: 80px;
    transform: translate(-45%, 50%);


    @media(min-width: 769px) {
      top: 83.5%;
      left: 85%;
      transform: translateX(-170%);
    }

    @media(min-width: 1025px) {
      top: 83.5%;
      left: 85%;
      transform: translateX(-170%);
    }
  }
}