.call {
  display: flex;
  flex-direction: column;
  background-color: #f8db15;
  @include fontText;
  font-size: 10px;
  align-items: center;

  @media(min-width: 768px) {
    flex-direction: row;
    padding: 0 5%;
  }

  &__box {
    padding: 20px;

    @media(min-width: 768px) {
      padding: 20px 0;
      flex-grow: 1;
    }
  }

  &__description {
    text-align: center;
    font-size: 1.5em;
    color: #595959;

    @media(min-width: 768px) {
      text-align: left;
    }
  }

  &__phonebox {
    display: flex;
    width: $box-width;
    justify-content: space-between;
    // margin: 0 auto;
    align-items: center;
    padding: 0 0 20px 0;
    font-weight: 900;
    font-size: 2.5em;


    @media(min-width: 768px) {
      width: 60%;
      flex-grow: 2;
      padding: 0 0 0 10%;
    }
  }
}

.info {

  color: white;
  background: black;
  font-size: 10px;
  position: relative;

  &__logo {
    width: $box-width;
    margin: 0 auto;
    padding: 40px 0;
    border-bottom: 1px solid #222;

    &-img {
      filter: invert(1);
    }
  }

  &__personal {
    width: $box-width;
    margin: 0 auto;
    padding: 20px 0;
    @include fontText
  }

  &__name {
    font-size: 1.7em;
  }

  &__box {

    display: flex;
    flex-wrap: wrap;
    // flex-shrink: 0;
    border-bottom: 1px solid #222;

    @media(min-width: 768px) {
      justify-content: space-between;
    }
  }

  &__data {
    width: 50%;
    font-size: 1.5em;
    padding-bottom: 40px;
    color: #595959;
    font-weight: bold;

    @media(min-width: 768px) {
      width: auto;
    }

    &:nth-child(2) {
      padding-left: 15px;

    }

    &:nth-child(3) {
      padding-bottom: 30px;

    }

    span {
      color: yellow
    }
  }

  &__background {
    position: absolute;
    left: -45%;
    top: -20%;

    img {
      width: 100%;
    }
  }

}

.media {
  display: flex;

  width: $box-width;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;

  @media(min-width: 768px) {
    justify-content: space-between;
  }

  &__follow {
    width: 50%;
    @include fontText;
    color: #595959;
    font-weight: bold;
    font-size: 1.5em;
  }

  &__box {
    width: 180px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;

    @media(min-width: 768px) {
      width: 158px;
      padding: 0;
    }

  }
}

.footer {
  &__nav {
    width: $box-width;
    margin: 0 auto;
    padding: 30px 0;

    @media(min-width: 768px) {
      padding: 40px 0;
    }
  }

  &__item-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {

    text-align: center;
  }

  &__link {

    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    @include fontText;

    @media(min-width: 768px) {
      font-size: 1.5em;
    }

    &:hover {
      color: yellow;
    }

  }

}

.map {
  background: url('../../assets/map.png');
  background-position: 15% 37%;
  background-size: 190%;
  height: 250px;
  position: relative;

  @media(min-width: 768px) {
    background-size: 130%;
    background-position: -20% 37%;
  }

  &__up {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__up-text {
    position: absolute;
    top: 70%;
    left: 50%;
    @include fontText;
    font-size: 1.5em;
    color: #f7db15;
    font-weight: 900;
    transform: translateX(-50%)
  }
}