.main {
  font-size: 10px;
  @include fontText;


}

.realizations {

  &__text-box {
    width: $box-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media(min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 3.3em;
    font-weight: 900;
    padding: 20px 0;

    @media(min-width: 768px) {
      font-size: 3em;
    }

  }

  &__description {
    font-size: 1.4em;
    line-height: 25px;

    color: #595959;

    @media(min-width: 768px) {
      width: 60%;
      text-align: right;
      line-height: 20px;
    }
  }

  &__nav {
    display: flex;
    width: $box-width;
    margin: 0 auto 20px auto;
    justify-content: space-between;
    align-items: center;
  }

  &__arrows {
    display: flex;
  }

  &__arrow {
    padding: 20px 0;

    &--right img {
      display: block;
      margin-left: 20px;
      transform: rotate(180deg);
    }
  }

  &__btn {
    background: none;
    border: none;
    color: #f6da14;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.6em;
  }
}

.projects {
  display: flex;
  flex-direction: column;

}

.project {
  width: $box-width;
  margin: 0 auto 10px auto;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  @media(min-width: 768px) {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: none;
    border-bottom: 1px solid #ddd;
  }

  @media(min-width: 768px) {
    display: flex;

  }

  &__photo {}

  &__img {
    width: 100%;
    height: 100%;
  }

  &__box {
    padding: 30px;

    @media(min-width: 768px) {
      width: 45%;
    }
  }

  &__title {
    font-size: 2em;
    font-weight: 900;
  }

  &__description {
    color: #595959;
    font-size: 1.3em;
    padding-top: 25px;
    line-height: 25px;

  }
}