.main {}

.realizations {

  &__text-box {
    width: $box-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media(min-width: 481px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 900;
    padding: 40px 0 30px 0;
    font-family: $fontTitles;
    text-align-last: left;

    // @media(min-width: 768px) {
    //   font-size: 3em;
    // }

  }

  &__description {
    font-size: 14px;
    line-height: 25px;
    font-family: $fontText;
    color: #595959;


    @media(min-width: 481px) {
      width: 60%;
      text-align: right;
      line-height: 20px;
      margin-top: 30px;
    }
  }

  &__nav {
    display: flex;
    width: $box-width;
    margin: 10px auto 20px auto;
    justify-content: space-between;
    align-items: center;

  }

  &__arrows {
    display: flex;
  }

  &__arrow {
    padding: 20px 0;

    &--right img {
      display: block;
      margin-left: 20px;
      transform: rotate(180deg);
    }
  }

  &__btn {
    background: none;
    border: none;
    color: #f6da14;
    text-transform: uppercase;
    font-size: 14px;
    font-family: $fontTitles;
  }
}

.projects {
  display: flex;
  flex-direction: column;

}

.project {
  width: $box-width;
  margin: 0 auto 10px auto;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  @media(min-width: 481px) {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: none;
    border-bottom: 1px solid #ddd;
  }

  @media(min-width: 481px) {
    display: flex;
    flex-direction: row;
  }

  &:nth-last-child(1) {
    margin-bottom: 30px;
  }

  &__photo {
    @media(min-width: 481px) {
      width: 70%;
      max-height: 245px;
      overflow: hidden;
    }

  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__box {
    padding: 30px;

    @media(min-width: 481px) {
      width: 45%;
    }
  }

  &__title {
    font-size: 16px;
    font-family: $fontTitles;
    letter-spacing: 1px;
  }

  &__description {
    font-family: $fontText;
    color: #969696;
    font-size: 14px;
    padding-top: 25px;
    line-height: 25px;

  }
}