main {
  background-color: #fff;
  position: relative;

  @media(min-width: 1025px) {
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 3000px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translate(-30%);
    z-index: -1;
  }
}

.realizations {


  @media(min-width: 1025px) {
    width: 30%;

  }

  &__text-box {
    width: $box-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media(min-width: 481px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @media(min-width: 769px) {
      width: 93%;
    }

    @media(min-width: 1025px) {

      flex-direction: column;
      align-items: flex-start;

    }

  }

  &__title {
    font-size: 28px;
    font-weight: 900;
    padding: 40px 0 30px 0;
    font-family: $fontTitles;
    text-align: left;

    @media(min-width: 1025px) {
      font-size: 30px;

    }

  }

  &__description {
    font-size: 14px;
    line-height: 25px;
    font-family: $fontText;
    color: #595959;


    @media(min-width: 481px) {
      width: 60%;
      line-height: 20px;
      margin-top: 30px;
    }

    @media(min-width: 1025px) {
      width: 90%;
      font-size: 17px;
      margin-top: 0;
      line-height: 30px;
    }
  }

  &__nav {
    display: flex;
    width: $box-width;
    margin: 10px auto 20px auto;
    justify-content: space-between;
    align-items: center;

    @media(min-width: 769px) {
      width: 93%;
    }

    @media(min-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
    }

  }

  &__arrows {
    display: flex;
  }

  &__arrow {
    padding: 20px 0;

    &--right img {
      display: block;
      margin-left: 20px;
      transform: rotate(180deg);
    }
  }

  &__btn {
    background: none;
    border: none;
    color: #f6da14;
    text-transform: uppercase;
    font-size: 14px;
    font-family: $fontTitles;
  }
}

.realizations--side-page {
  border-bottom: 1px solid #ddd;
  width: 90%;
  margin: 0 auto 30px auto;

  @media screen and (min-width:1025px) {
    max-width: 1130px;
    margin: 0 0 30px 15px;
  }

  .realizations__text-box {
    margin: 0;
  }
}

.main--side-page {
  @media(min-width: 1025px) {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;

  }
}