.nav {
  display: flex;
  position: relative;
  height: 90px;
  width: 100%;
  flex-direction: row;
  align-items: center;

  &__logo {
    position: absolute;
    left: 8%;


  }

  &__burger {
    left: 85%;
  }
}

.burger {
  width: 30px;
  height: 23px;
  position: relative;

  &__line {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000;
  }

  &__line1 {
    top: 30%;
  }

  &__line2 {
    top: 49%
  }

  &__line3 {
    bottom: 25%;
  }
}