.page {
  position: relative;
  left: 0;
  overflow-x: hidden;

  @media(min-width: 769px) {
    left: 0;
  }
}

.page--active {
  left: -60%;
}

.nav {

  display: flex;
  position: relative;
  height: 90px;
  width: $box-width;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  @media(min-width: 769px) {
    $box-width: 93%;
    width: $box-width;
  }

  @media(min-width: 1025px) {
    max-width: 1130px;
  }



  &__burger {

    @media(min-width: 769px) {
      display: none;
    }
  }

  &__burger-menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 60%;
    height: 100vh;
    z-index: 2;
    background-color: #333;

    @media(min-width: 769px) {
      position: static;
      overflow: unset;
      transform: translate(0);
      height: auto;
      z-index: 0;
      background-color: #fff;
    }
  }

  &__burger-menu--active {
    transform: translateX(0);
  }

  &__item-list {
    display: flex;
    flex-direction: column;
    height: 50vh;
    // justify-content: space-between;
    text-align: left;
    list-style: none;

    @media(min-width: 769px) {

      height: auto;
      flex-direction: row;
      justify-content: space-between;
    }

  }

  &__item {
    padding: 30px 0 30px 40px;

    border-bottom: 1px solid #444;

    @media(min-width: 769px) {
      border: none;
      padding: 0;

    }


  }

  &__item--back {

    a {
      display: block;
      font-family: $fontTitles;
      font-size: 13px;
      color: #797979;
      font-weight: bold;
      text-align: left;
      text-decoration: none;
      text-transform: uppercase;


    }

    @media(min-width: 769px) {
      display: none;
    }

    font-family: $fontTitles;

    img {
      width: 10px;
      margin-right: 30px;
      opacity: 0.5;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-family: $fontTitles;

    @media(min-width: 769px) {

      font-size: 12px;
      color: #4c4c4c;
      font-weight: 900;
      padding-bottom: 30px;
      border-bottom: 5px solid white;

      &:hover {
        border-color: #f8db15;
      }

    }

    @media(min-width: 1025px) {
      font-size: 14px;
    }

    &:hover {
      color: #f8db15;
    }
  }

  //to cover background 
  &::after {
    content: '';
    display: block;
    width: 4000px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    transform: translate(-50%);
  }
}

.burger {
  width: 30px;
  height: 30px;
  position: relative;

  &__line {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
  }

  &__line1 {
    top: 30%;
  }

  &__line2 {
    top: 49%
  }

  &__line3 {
    bottom: 25%;
  }
}