.team {
  padding: 20px 0;
  background-color: #1f1f1f;

  &__item {
    width: $box-width;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    height: 260px;
    align-items: center;
    text-align: center;
    border: 1px solid #9d9d9d;
    color: #595959;
    font-family: 'Raleway', sans-serif;
  }

  &__photo {
    padding: 30px 0;
  }

  &__name {
    text-transform: uppercase;
    font-weight: bold;

  }

  &__description {
    color: #9d9d9d;
    width: 90%;
    padding-top: 5px;
    line-height: 30px;
  }
}