.team {
  padding: 20px 0;
  background-color: #1f1f1f;
  font-size: $font-size;

  @media(min-width: 769px) {
    width: 100%;
    padding: 30px 3.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {

    margin: 10px auto;
    display: flex;
    flex-direction: column;
    min-height: 260px;
    align-items: center;
    text-align: center;
    border: 1px solid #333;
    color: #595959;

    @media(min-width: 769px) {
      width: 32.5%;
      margin: 0;



    }

  }

  &__photo {
    padding: 30px 0;
  }

  &__name {
    text-transform: uppercase;
    font-size: 14px;
    font-family: $fontTitles;
  }

  &__description {
    color: #9d9d9d;
    width: 90%;
    font-family: $fontText;
    padding-top: 5px;
    line-height: 30px;
    font-size: 14px;

    @media(min-width: 768px) {
      width: 80%;
    }
  }
}